

@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;500;700&display=swap');


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family:  'Josefin Sans', sans-serif;
  background-image: url("img/bg1.jpeg");
  min-height: 90vh;
  overflow:initial;
  background-position:center;
  background-size: cover;
}

.header h4 {
  color: #000000;
  height: fit-content;
  font-weight: 700;
  font-size: 2rem;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}
.app-main {
  min-height: 20vh;
  width: 30vw;
  margin: 50px auto;
  padding: 20px;
  text-align: center;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
  border-radius: 15px;
  background: #4fc0f1; /* fallback for old browsers */
  background: linear-gradient(
    to bottom,
    #ffffff9a,
    #00000097
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
.app-main > * {
  margin-bottom: 20px;
}
.input-box {
  width: 100%;
  background: azure;
  color: #0b025e;
  font-weight: 500;
  border:#000000;
  font-size: 1.7rem;
  border-radius: 10px;
  padding: 10px;
  text-align: center;
  outline: none;
  border: none;
  margin-top: 10px;
}

.weather-body {
  color: #fff;
  padding: 20px;
  line-height: 2rem;
  border-radius: 10px;
  background-color: #111921;
  display: none;
  background: linear-gradient(
    to top,
    #0b0a3c,
    #158ba0
  );
}
.location-deatils {
  font-weight:bolder;
  font-size: x-large;
  color:#0a0724;
}
.weather-status {
  padding: 10px;
}
.temp {
  font-size: 5rem;
  font-weight: 700;
  margin-top: 20px;
  margin-bottom: 20px 0px;
  text-shadow: 2px 4px rgba(0, 0, 0, 0.1);
}
.weather {
  margin-top: 25px;
  font-size: 2rem;
  margin-bottom: 10px;
}
.min-max {
  font-size: 1.2rem;
  font-weight: 400;
  margin-top: 15px;
}

.day_details {
  margin-top: 20px;
  padding: 20px;
}

.basic {
  font-size: 1rem;
}
.weather-icon {
  color: black;
}


@media screen and (max-width: 800px) {
  .app-main {
    width: 95%;
    padding: 10px;
    overflow: scroll;
  }
  body {
    min-height: 100vh;
  }
}
